USE [master]
GO
/****** Object:  Database [ToDo_db]    Script Date: 5/14/2025 11:47:03 PM ******/
CREATE DATABASE [ToDo_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDo_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ToDo_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDo_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ToDo_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDo_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDo_db]
GO
/****** Object:  User [Zanie]    Script Date: 5/14/2025 11:47:03 PM ******/
CREATE USER [Zanie] FOR LOGIN [Zanie] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[User_info]    Script Date: 5/14/2025 11:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_info](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Issue] [varchar](500) NULL,
	[Comments] [varchar](1000) NULL,
 CONSTRAINT [PK_User_info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
